/* CSS reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 100%;
  }
  
  /* Pozicionálás */
  
  .profile-card {
    width: 480px;
    max-width: calc(100vw - 20px);
  }
  
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('assets/background-image.jpg') no-repeat center center fixed;
    background-size: cover;
    color: rgb(215, 241, 155);
    text-shadow: 3px 3px #000000;
    font-family: sans-serif, "Helvetica Neue", "Lucida Grande", Arial;
    font-stretch: expanded;
    font-size: 20px;
    letter-spacing: 1px;
  }
  
  .profile-card {
    background-color: rgba(40, 109, 7, .8);
    border-radius: 25px;
    box-shadow: hsla(0, 0%, 0%, .8) 9px 9px 5px;
  }
  
  .about {
    text-align: justify;
  }
  
  .head, .links {
    text-align: center;
  }
  
  .head, .content {
    width: 90%;
    margin: 0 auto;
  }
  
  img {
    width: 100px;
    height: 100px;
    border-radius: 15%;
    padding: 5px;
    background-color: #666;
    transition: all 0.5s ease-in-out;
    filter: grayscale(100%);
    box-shadow: hsla(0, 0%, 0%, .8) 9px 9px 5px; 
  }
  
  .profile-image {
    margin-top: -60px;
    padding: 10px;
  }
  
  ul {
    list-style-type: none;
  }
  
  li {
    display: inline;
  }
  
  .head, .about {
    margin-bottom: 5%
  }
  
  .content {
    padding: 5% 5%;
    border-top: 5px solid hsla(0, 0%, 0%, .5);
  }
  
  img:hover{
    transform: scale(1.1);
    filter: grayscale(20%);
  }
  
  h1 {
    font-size: 28px;
    text-transform: capitalize;
    color: white;
    letter-spacing: 3px;
    font-weight: 900;  
  }
  
  h2 {
    font-size: 18px;
    color: white;
    letter-spacing: 2px;
  }

  span {
    font-size: 16px;
    font-style: italic;
  }
  
  i{
    color: hsl(60, 80%, 50%);
    padding: 5px;
  }
  
  i:hover{
    transform: scale(1.1);
    filter: invert(90%);
  }  